// colors
$light:#e4eaea;
$beige:#c6b29b;
$orange:#ae621f;
$green:#383508;
$dark:#141a13;

// media queries
$breakpoint-mobile-landscape-small:575px;
$breakpoint-mobile-landscape: 655px;
$breakpoint-tablet-portrait: 720px;
$breakpoint-tablet-landscape: 774px;
$breakpoint-desktop: 1024px;
$breakpoint-1024p: 1366px;