section.App-contact {
    background-color: $light;
    // height: 70vh;
    // width: 100%;
    background-image: url("../../../img/white-2484120_1280.png");


    div.icons {
        display: flex;
        justify-content: space-around;

        flex-grow: 1;
        align-items: center;

        div.container {
            text-align: center;

            span.fas {
                font-size: 8rem;
                color: $dark;
            }



            p.container-data {
                font-size: 1.3rem;
                font-weight: 900;

            }
        }

        div.container-icon {
            a {
                text-decoration: none;



                span.fab {
                    display: block;
                    font-size: 4rem;
                    color: $dark;
                    margin: 2rem 0;
                    transition: .1s;

                    &:hover {
                        color: $green;
                        transform: scale(1.2);

                    }
                }
            }

        }



    }
}