section.App-contact {
    background-color: white;
    // height: 70vh;
    // width: 100%;


    div.icons {
        display: flex;
        justify-content: space-around;

        flex-grow: 1;
        align-items: center;

        div.container {
            text-align: center;

            span.fas {
                font-size: 7rem;
                color: $dark;
            }

            p.container-data {
                font-size: 1.6rem;
                font-weight: 900;

            }
        }

        div.container-icon {
            a {
                text-decoration: none;

                span.fab {
                    display: block;
                    font-size: 4rem;
                    color: $dark;
                    margin: 2rem 0;
                    transition: .1s;

                    &:hover {
                        color: orange;
                        transform: scale(1.2);

                    }
                }
            }

        }

        @media (max-width: $breakpoint-mobile-landscape) {
            div.container {
                span.fas {
                    font-size: 6rem;
                }
            }

            div.container-icon {
                a {
                    span.fab {
                        font-size: 3rem;
                    }
                }
            }
        }

        @media (max-width: 543px) {
            div.container {
                span.fas {
                    font-size: 5rem;
                }
            }

            div.container-icon {
                a {
                    span.fab {
                        font-size: 2rem;
                    }
                }
            }
        }

        @media (max-width: 410px) {
            div.container {
                span.fas {
                    font-size: 4rem;
                }

                p.container-data {
                    font-size: 1.1rem;
                    font-weight: 900;

                }
            }


        }


    }
}