section.App-name {
    height: 100vh;
    // width: 100%;
    background-color: white;

    div.data {
        position: absolute;
        top: 50%;
        left: 50%;
        margin-right: -50%;
        transform: translate(-50%, -50%);
        text-align: center;
        // background-color: $light;
        // filter: brightness(150%);


        @keyframes coloring {
            0% {
                color: $dark;
            }

            25% {
                color:rgb(252, 143, 0);
            }

            50% {
                color:$orange;
            }

            75% {
                color: rgb(252, 143, 0);
            }

            100% {
                color: $dark;
            }
        }




        h1 {
            //font-family: 'Playfair Display', serif;
            font-size: 6em;
            //border-bottom: .5rem solid rgb(0, 0, 0);
            //border-radius: .5rem;
            margin: 0;
            padding: 1rem;
            animation: coloring linear 4s infinite;

            // color: #383508;

        }

        @media (max-width: 559px) {
            h1 {
                border: none;

                &:after {
                    content: "";
                    display: block;
                    margin: 0 auto;
                    width: 60%;
                    padding-top: 1rem;
                    border-bottom: 1px solid black;
                }
            }
        }

        h2 {
            font-family: 'Open Sans', sans-serif;
            font-size: 2em;
            color: rgb(82, 80, 80);

        }
    }
}