section.App-projects {
    background-color: white;
    // height: 100vh;
    // width: 100%;
    // background-image: url("../../../img/white-2484120_1280.png");

    div.App-projects-examples {
        justify-content: space-around;
        display: flex;
        height: 100%;
        align-items: center;
        flex-wrap: wrap;


        div.App-projects-examples-example {
            padding: 1rem;
            text-align: center;
            border-radius: 1rem;
            filter: brightness(120%);


            h2.example-h2 {

                text-transform: uppercase;

            }

            img.example-img {
                width: 20rem;
                border-radius: .3rem;
                transition: .5s;
                border-bottom: .5rem orange solid;

                &:hover {
                    transform: scale(1.1);
                }
            }

            @media (max-width: 559px) {
                img.example-img {
                    width: 16rem;

                }
            }

            @media (max-width: 410px) {
                img.example-img {
                    width: 14rem;

                }
            }

            a {

                text-decoration: none;
                font-size: 1.8rem;
                color: #000;
                padding: 0.3rem 0.8rem ;
                margin: 0 .3rem;
                transition: .2s;
                border: 1px solid orange;
                border-radius: .6rem;
                
                //font-weight: 900;
                
                &:hover {
                    background-color: orange;
                    color: white;
                    
                }
            
            }

          

        }
    }
}

@media (max-width: $breakpoint-tablet-landscape) {

    div.App-projects-examples-example {

        margin: 1rem;
    }

}