section.App-technology {
    background-color: $beige;
    // height: 80vh;
    // width: 100%;
    display: flex;

    div.technology-icons {
        display: flex;
        justify-content: space-around;
        flex-grow: 1;
        align-items: center;
        flex-wrap: wrap;


        div.technology-icon {
            text-align: center;
            padding: 1rem 5rem;


            span.fab {
                font-size: 8rem;
                transition: .5s;

                &:hover {
                    transform: scale(1.2);
                    color: $green;
                }
            }

            p {
                font-size: 1.5rem;
                transition: .5s;

                &:hover {
                    transform: scale(1.2);
                }
            }
        }
    }
}