section.App-technology {
  background-color: $dark;
  // height: 80vh;
  // width: 100%;
  display: flex;
  color: $light;

  div.technology-icons {
    display: flex;
    justify-content: space-around;
    flex-grow: 1;
    align-items: center;
    flex-wrap: wrap;

    div.technology-icon {
      text-align: center;
      padding: 1rem 5rem;

      .icon {
        font-size: 7rem;
        transition: 0.5s;

        &:hover {
          transform: scale(1.2);
          color: rgb(226, 159, 72);
        }
      }

      @media (max-width: $breakpoint-mobile-landscape) {
        span.fab {
          font-size: 6rem;
        }
      }

      @media (max-width: $breakpoint-mobile-landscape-small) {
        span.fab {
          font-size: 5rem;
        }
      }

      @media (max-width: 543px) {
        span.fab {
          font-size: 4rem;
        }
      }

      @media (max-width: 511px) {
        span.fab {
          font-size: 5rem;
        }
      }

      p {
        font-size: 1.5rem;
        transition: 0.5s;

        &:hover {
          transform: scale(1.2);
        }
      }
    }
  }
}
